body{
	background-image: url(../imagens/Fundo.jpg);
	background-repeat: round;
}
header, footer{
	width: 100%; 	
	padding: 5px; 
	color: white;
	}	
h1{
	border-style: solid;
	border-color: #000000;
	border-width: auto; border-right: auto;
	text-align: center;
	background-color: #000000;
	color: white;
	font-size: 45px;
	line-height: 2
}
h2{
	border-style: dashed;border-color: #000000; text-align: center;color: darkgray; 
	background-color: #000000;
	font-size: 35px;
	line-height: 2
}
h3{
	text-align: center; color: white; font-size: 25px;line-height: 2
}
p{
	text-align: center; color: #00FF00; font-size: 25px; line-height: 1.5
}
ul li{
	text-align: left; color: #00FF00; font-size: 25px;line-height: 2
} 
.link{
	font-size: 20px; text-align: center; border: double; border-color: black; line-height: 2
}
.container{
	font-size: 20px; text-align: center; line-height: 2
}
figure{
	text-align: center; line-height: 2
}
img{
	border: 5px double; border-color: #00FFFF; line-height: 2
}
.lista{
	text-align: center;
}