body{
	background-color: #C0C0C0
}	
h1{
	border-style: solid;border-color: #000000; text-align: center;background-color: #000000; color: white; font-size: 45px
}
h2{
	border-style: dashed;border-color: #000000; text-align: center;color: darkgray; background-color: #000000; font-size: 35px;
}
p{
	text-align: center; color: black; font-size: 25px
}
ul li{
	text-align: left; color: black; font-size: 25px
}
figure{border-style: dashed; border-color: #696969; background-color: #000000}
